
discord\.token

__pycache__/welcomer\.cpython-37\.pyc

__pycache__/velcomer\.cpython-37\.pyc

__pycache__/vally\.cpython-37\.pyc

__pycache__/valcros\.cpython-37\.pyc

__pycache__/volls\.cpython-37\.pyc
